<h1>Registration Form</h1>
<form action='user/user_confirmation' method= 'post'>
<input type='text' name='firstname' placeholder='First Name'/>
<br>
<input type='text' name='lastname' placeholder='Last Name'/>
<br>
<input type='text' name='streetaddress' placeholder='Street Address'/>
<br>
<input type='text' name='city' placeholder='City'/>
<br>
<input type='text' name='state' placeholder='State'/>
<br>
<input type='text' name='zip' placeholder='Zip Code'/>
<br>
<input type='text' name='country' placeholder='Country'/>
<br>
<input type='text' name='email' placeholder='Email'/>
<br>
<input type='text' name='userid' placeholder='User ID' required/>
<br>
<input type='text' name='password' placeholder='Password' required/>
<br>
<input type='submit' value='Register'/>
</form>
