<h1>Registration Confirmation</h1>
<p>You can now login </p>
<form method="post" action="/user/homepage">
<input type='text' name='userid' placeholder='User ID' required/>
<br>
<input type='text' name='password' placeholder='Password' required/>
<br>
<input type='submit' value='Login'/>
</form>
